.container {
  text-align: center;
}

h1 {
  text-align: center;
}
.btn {
  background-color: yellow;
  border: 1px solid black;
  padding: 20px;
  font-size: 25px;
  color: black;
}
.my_image {
  width: 200px;
  height: 200px;
  text-align: center;
  box-shadow: 10px 10px 5px black;
  border: 5px solid yellow;
}
